<section>
  <div class="edito">
    <h2>Pôle Gones</h2>
    <div class="conf-room">D2 Enseignement</div>
    <p>
      Découvrez en famille le numérique libre avec des activités adaptées
      aux enfants. Situés dans la <b>salle D2-026</b> et parfois la
      <b>salle D2-001</b>, les ateliers sont pour toutes et tous à partir de 7
      ans.
    </p>
    <p>
      Pendant les ateliers, pour un plaisir partagé, les petits gones et
      petites fenottes sont sous la responsabilité de leurs parents ou de
      l'adulte les accompagnant.
    </p>
    <h3 class="h2">samedi</h3>
    <div class="cols-2">
      <% for (let conf of data.samedi.gones){ %>
      <%- include('conf', {conf:conf}) %>
      <% } %>
    </div>
    <h3 class="h2 break">dimanche</h3>
    <div class="cols-2">
      <% for (let conf of data.dimanche.gones){ %>
      <%- include('conf', {conf:conf}) %>
      <% } %>
    </div>
  </div>
</section>
