<section>
  <div class="background">
    <img src="images/logos/logo2024.svg" alt="Logo 2024 des JdLL">
  </div>

  <div class="foreground">
    <div class="flex-between cispeo">
      <div id="siteweb" class="inline">www.jdll.org</div>
      <div id="edition" class="inline">25<sup>e</sup> édition</div>
    </div>

    <div id="theme" class="center">
      <div>Éducation Populaire</div>
      <div>Enfin libre !</div>
    </div>

    <div class="infos flex-between">
      <div id="metros" class="inline-block">
        <div class="metro">
          <div>
            <b>
              Métro Ⓑ<br>
              Tram T1<br>
              Bus 22
            </b>
          </div>
          <div class="cispeo close">Arrêt Debourg</div>
        </div>
      </div>

      <div id="info" class="inline-block">
        <div id="dates">
          <div>
            <b>25 et 26 mai 2024</b>
          </div>
          <span class="cispeo close">
            10h-18h<br>
          </span>
        </div>

        <div id="lieu">
          <div>
            <b>ENS - Site Descartes</b>
          </div>
          <span class="cispeo close">
            <div>19, Allée de Fontenay</div>
            <div class="close">Lyon 7e</div>
          </span>
        </div>
      </div>
    </div>
</section>
