<section>
  <div class="focus-pagetitle">Tout le week-end :</div>
  <div class="restauration">
    <div class="restauration-title">Boutique</div>
    <div class="conf-room">D8 Buisson - Entrée</div>
    <div class="activite-text">
      T-Shirt, hoodies, cartes à collectionner, stickers, affiches et bien
      d'autres goodies sont disponibles à la boutique. Emportez de merveilleux
      souvenirs et contribuez ainsi au soutien de l'évènement.
    </div>
  </div>
  <div class="restauration">
    <div class="restauration-title">Restauration</div>
    <div class="conf-room">De 11h30 à 14h30 - D7 - Extérieur</div>
    <div class="activite-text">
      Le food-truck <em>Le sous-marin jaune</em> propose un menu
      burger / frites. Afin de garantir la fraîcheur et la qualité des
      produits, tout est fait maison : pains, sauces, frites, desserts.<br>
      Attention horaires limités : organisez-vous en conséquence !
    </div>
  </div>
  <div class="restauration">
    <div class="restauration-title">Buvette</div>
    <div class="conf-room">D7 - Extérieur</div>
    <div class="activite-text">
      Vous pourrez vous désaltérer à la buvette assurée par
      <em>Alterconso</em>. Par leur présence, nous soutenons leur projet de
      coopérative d’alimentation solidaire, locale et écologique via la
      distribution de paniers bio &amp; locaux dans les quartiers du Grand Lyon.
    </div>
  </div>
</section>
