<section>
  <div class="edito">
    <h2>Les JdLL</h2>
    <div class="plan-title">Un peu d'histoire</div>
    <p>
      Depuis 1998, les Journées du Logiciel Libre sont le rendez-vous annuel de
      celles et ceux qui sont curieux·ses et passionné·e·s de numérique libre et
      émancipé. Issues d’une journée organisée par des utilisateurs de Linux à
      l’Université Lyon I, elles se composent désormais de toute une série
      d’activités pour tous les publics venus étancher leur soif de découverte
      et de partage.
    </p>
    <p>
      À l'origine destinées à un public plutôt initié, voire expert, les JdLL
      se sont « démocratisées » depuis leur arrivée à la Maison Pour Tous –
      Salle des Rancy en 2012. Par la suite elle a diversifié ses actions, ce
      qui lui a permis de s'ouvrir au grand public.
    </p>
    <div class="plan-title">L'organisation</div>
    <p>
      Les JdLL sont un évènement libre et co-construit, c'est-à-dire que son
      organisation est gérée chaque année par un collectif ouvert, sans
      condition de connaissances ou de niveau informatique. Vous avez apprécié
      les éditions précédentes ? Rejoignez-nous !
    </p>
    <div class="plan-title">Partenariats</div>
    <p>
      Fin 2023, les JdLL se sont créées en association autonome. Pour autant,
      les JdLL ne sauraient perdurer sans les partenariats historiques ou
      récents de l'ALDIL, d'Illyse, de Netfreaks, du LOV et de CoLibre.<br>
      Une mention spéciale à l'ENS qui héberge et à AliENS qui co-organise
      l'édition 2024. Sans elles, cette édition n'aurait pu voir le jour.
    </p>
  </div>
</section>
