<section>
  <div class="restauration">
    <h2>Infos pratiques</h2>
    <div class="plan-title">Une urgence ?</div>
    <p>
    Les organisateur·ices des JdLL sont reconnaissables à leur T-shirt
    fushia imprimé à l'édition JdLL 2024. Illes font leur maximum pour
    accompagner tout⋅es les visiteur⋅ices durant ces 2 jours.
    N'hésitez pas à les solliciter en cas de besoin et/ou les informer
    de tout incident.
    </p>
    <p>
    Pharmacie de garde : 3237
    </p>
    <p>
    Médecin de garde : 116 117 ou le 04 72 33 00 33
    </p>
    <p>
    En cas d'urgence contactez le PC sécurité de l'ENS : 04 37 37 64 64
    </p>
    <p>
    Accès PMR : l'ENS est aux normes PMR en vigueur. L’équipe
    d'organisation est à votre écoute en cas de besoins particuliers.
    </p>
    <p>
    Sachez qu'un service sécurité spécifique de l'ENS nous accompagne
    tout au long de ce week-end.
    </p>
  </div>
  <div class="restauration">
    <div class="restauration-title">Le Wifi</div>
    <div class="wifi">
      <div class="wifi-badge">
        <img src="images/illustrations/qr_wifi.svg"
          alt="qr code du wifi" width="80px">
      </div>
      <div class="wifi-texte">
        Indispensable pour pouvoir offrir toutes les activités proposées,
        les JdLL remercient Illyse et l'ENS de permettre à tous d’accéder
        à une connexion réseau performante et propre.
      </div>
    </div>
    <div class="activite-text">
      SSID : JDLL<br>
      PASSE : internetlibre
    </div>
  </div>
</section>
