<section>
  <p class="pub">Tu as aimé les JdLL 2024 ?</p>
  <p class="pub">
    Viens faire les</br>
    #JdLL2025
  </p>
  <p></p>
  <p class="pub">
    Rejoins l'orga,<br>
    envoie un mail à<br>
    jdll@jdll.org
  </p>
  <p class="pub">
    <img src="images/illustrations/qr_email.svg" alt="" width="50%">
  </p>
</section>
