<section>
  <div class="sponsor">

    <div class="sp_logos">
      <div class="inter_title">
        Nos partenaires
      </div>

      <a href="http://www.ens-lyon.fr/"
        target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_ENS_Lyon.svg" alt="ENS Lyon">
      </a>

      <a href="https://aliens-lyon.fr/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_AliENS.svg" alt="AliENS">
      </a>

      <a href="http://www.aldil.org/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_ALDIL.png" alt="ALDIL">
      </a>

      <a href="http://www.illyse.net/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_illyse.svg" alt="Illyse">
      </a>

      <a href="https://mamot.fr/@lyonchiffrofete"
        target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_cvp.svg" alt="Café vie privée Lyon">
      </a>

      <a href="https://netfreaks.fr/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_netfreaks.svg" alt="NetFreaks">
      </a>

      <a href="https://labovilleurbanne.fr/"
        target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_LOV.svg" alt="LOV">
      </a>

      <a href="http://colibre.org/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_CoLibre.png" alt="Colibre">
      </a>
    </div>

    <div class="sp_logos">
      <div class="inter_title">
        Nos sponsors
      </div>

      <a href="https://agentj.io/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_AgentJ.svg" alt="AgentJ">
      </a>

      <a href="https://apitech.net/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_apitech.png" alt="Apitech">
      </a>

      <a href="https://april.org/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_april.svg" alt="April">
      </a>

      <a href="https://devops.works/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_devOps.works.svg" alt="DevOps.work">
      </a>

      <a href="https://www.univ-lyon1.fr/"
        target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_LYON1_FST-INFO.png"
          alt="Département d'informatique de L'université Lyon I ">
      </a>

      <a href="https://www.octopuce.fr/"
        target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_octopuce.png" alt="Octopuce">
      </a>

      <a href="https://www.ploss-ra.fr/"
        target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_plossra.png" alt="Ploss RA">
      </a>

      <a href="https://probesys.com/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_probesys-monocromatique.svg"
        alt="Probesys">
      </a>

      <a href="https://www.scop.org/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_urscop.svg"
        alt="Les SCOP Auvergne Rhône-Alpes">
      </a>

      <a href="https://www.webu.coop/" target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_webu.svg" alt="Webu">
      </a>

      <a href="https://www.wikimedia.fr/"
        target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_wikimediafr.png" alt="Wikimédia France">
      </a>

      <a href="https://www.worteks.com"
        target="_blank" class="sp_logo wrapper">
        <img src="/images/logos/logo_worteks.png" alt="Worteks">
      </a>

    </div>
  </div>
</section>
