<section>
    <div class="edito">
        <div class="plan-title">Financement participatif</div>
        <p>Contribuez aux JdLL c'est favoriser la venue de nombreux·ses intervenant·es qui alimentent les échanges et la programmation des journées, c'est donner les moyens d'accueillir un public toujours plus nombreux dans la convivialité, c'est faciliter la communication des JdLL auprès du public et des institutions, c'est permettre aux Journées du Logiciel Libre de se développer.</p>
        <p>Contribuer aux JdLL c'est aussi permettre d'assurer la gratuité de l'événement pour l'ensemble du public.</p>
        <p class="pub"><img src="images/illustrations/qr_donner.svg" alt="" width="50%"></p>
        <p style="text-align: center;" href="https://jdll.org/donner">https://jdll.org/donner</p>
    </div>
</section>
