<section>
    <div class="restauration">
         <div class="restauration-title">Le Wifi</div>
         <div class="wifi">
             <div class="wifi-badge"><img src="images/illustrations/qr_wifi.svg" alt="qr code du wifi" width="80px"></div>
             <div class="wifi-texte">Indispensable pour pouvoir offrir toutes les activités proposées, les JdLL remercient, cette année encore, Illyse et l'ENS de permettre à tous d’accéder à une connexion réseau performante et propre.</div>
         </div>
         <div class="activite-text">SSID : JDLL<br>PASSE : internetlibre</div>
    </div>
</section>
