<section>
  <div id="colophon" class="cispeo">
    Depuis 25 ans, enfin pour dire vrai on ne sait pas exactement, la mémoire
    commence à se perdre et les souvenirs de la première édition ne se sont pas
    transmis avec exactitude. Bref depuis 25 ans des équipes œuvrent à faire
    exister des Journées du Logiciel Libre.
    Merci à vous les grands anciens. Ce programme ainsi que cette édition des
    JdLL sont la continuité de votre travail passé. Espérons que vous vous
    reconnaissez encore dans cet évènement qui ressemble fortement à celles et
    ceux qui l'ont fabriquée cette année.
    Alain, Alex, Aliosha, Err0rSystem, hexaltation, JFW, Laurent, Leiopard,
    Lucie, Maxime, plb, PoissonLibre, Sereinity &amp; Stéphane ont contribué
    à l'organisation de cette 25<sup>e</sup> édition.
    Merci à Fabien, Gauthier et kezako qui ont fait un bout de la route avec
    nous cette année.
    Merci aux bénévoles des jours J. Merci aux visiteuses et visiteurs.
    Merci à AliENS sans qui cette édition n'aurait pas existé.
    Merci à l'ENS de Lyon, à sa présidence et particulièrement à Emma
    Bessieres et Nicolas Jolly pour leur accompagnement bienveillant.
    Merci à Gérard Vidal de faire le lien.
    Merci à l'ALDIL pour nous avoir fait prendre notre envol en tant
    qu'association.
    Merci au LOV d'accueillir nos réunions.
    Merci à Illyse pour le réseau.
    Merci à Netfreaks pour la captation, Barthoi pour le peertube, Octopuce
    pour l'encodage.
    Merci aux sponsors.
    Merci aux donatrices et donateurs.
    Force à Sorcière qui a fait vivre cet évènement durant plus de douze ans
    dans un lieu qui faisait de l'éducation populaire.
    Ce programme a été mis en page par Laurent et hexaltation, généré
    automatiquement grâce à Pretalx, nodeJS, bindery.js entre autres.
    Les polices utilisées sont
    <div class="alegreya inline">AlegryaSans</div>,
    <div class="cispeo inline">Cispeo</div> et
    <div class="syne inline">Syne</div>.
  </div>
</section>
