<section>
  <div class="edito">
    <h2>Notes</h2>
    <br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr><br>
    <hr>
  </div>
</section>
