<section>
  <div class="edito">
    <h2>Éducation Populaire : enfin libre !</h2>
    <p>
      Les libertés individuelles et collectives et les démocraties sont en
      danger partout dans le monde. L'économie libérale donne le pouvoir à des
      multinationales qui sont devenues plus fortes que les États et que les
      institutions internationales légitimes.
    </p>
    <p>
      En complément de l’école de la république qui ne convient pas à tout le
      monde, l’éducation populaire est un outil formidable pour partager nos
      savoirs collectivement sans discrimination d'aucune sorte.
    </p>
    <p>
      Les valeurs originelles du numérique (collectivisme, décentralisation et
      résilience) noyautées par les GAFAM, se réduisent de jour en jour. Il y a
      urgence à agir.
    </p>
    <p>
      Lors de cette édition des JdLL 2024, nous mettrons en avant de
      l’information et des projets pour comprendre la situation et pour
      entrevoir des actions de résistance possibles. Pour un début tout en
      douceur, nous proposerons une découverte des fondamentaux du libre et
      des valeurs qui animent ses acteurs. Nous mettrons ensuite à la portée
      de tou·te·s des méthodes, des outils et des façons de faire pour
      une trajectoire accompagnée à des émancipations personnelles ou
      collectives.
    </p>
    <p>
      Nous sommes engagé·e·s dans la lutte pour une vie en société apaisée et
      respectueuse de chacun·e. Venez en discuter avec nous.
    </p>
  </div>
</section>
