<section>
  <div class="edito">
    <div class="nobreak">
      <h2>Plans</h2>
      <p>
        <b>L'École Normale Supérieure - Descartes</b> nous reçoit sur trois
        bâtiments et un jardin, ainsi les JdLL profitent d'un lieu parfait pour
        cette nouvelle édition. L'entrée se fait par l'allée de Fontenay via le
        bâtiment D8 Buisson qui accueille le <em>village associatif</em>,
        l'<em>install party</em> et la <em>flash party</em>. Dans le jardin
        devant le bâtiment D7 du CROUS se trouvent la restauration et la
        buvette. Les <em>conférences</em>, les <em>ateliers</em>,
        l'<em>espace gones</em> et le concert se trouvent dans le bâtiment
        D2 Enseignement.
      </p>
      <img src="/images/plans/Plan_ENS_global.svg"
        class="plan" alt="plan Descartes">
    </div>
    <div class="break">
      <div class="nobreak">
        <div class="plan-title">Bâtiment D8 - BUISSON</div>
        <p>
          L'entrée et accueil, la boutique, le village associatif, l'Install
          Party et la Flash Party
        </p>
        <img src="/images/plans/Plan_ENS_D8_redux.svg"
          class="plan more-bottom" alt="plan du D8">
      </div>
    </div>
</section>
