<section>
  <div class="edito nostart">
    <h2 class="none">Plans</h2>
    <div class="nobreak">
      <div class="plan-title">Bâtiment D2 - ENSEIGNEMENT</div>
      <p>
        Les conférences, les ateliers, l'espace Gones et le concert
      </p>
      <img src="/images/plans/Plan_ENS_D2_redux.svg" class="pland2" alt="plan du D2">
    </div>
  </div>
</section>
