<section>
  <div class="edito">
    <h2 class="start">Le village</h2>
    <p>
      Lieu de découvertes et d'échanges <b>le bâtiment D8 Buisson</b>,
      à l'entrée des JdLL, accueille le village associatif. Des associations,
      des entreprises, des groupes de développeurs, des libraires, des auteurs,
      des FabLabs et bien d'autres&#x2026;  sont présent&#183;e&#183;s pour
      conseiller, bidouiller ensemble et favoriser les découvertes.
      C'est le lieu de rencontres par excellence !
    </p>
    <p>
      Tous défendent une culture basée sur la collaboration, l'ouverture et
      l'appropriation des outils par tous.
    </p>
  </div>
  <div id="liste-stands" class="cols-2">
    <% for (let stand of data.stands){ %>
    <div class="stands">
      <div class="stand-badge"><%= stand.standNumber %></div>
      <div class="stand-title"><%- stand.title %></div>
      <div class="stand-abstract"><%- stand.abstract %></div>
    </div>
    <% } %>
  </div>
</section>
