<section>
  <h2>Confs samedi</h2>
  <div class="cols-2">
    <% for (let conf of data.samedi.confs){ %>
    <%- include('conf', {conf:conf}) %>
    <% } %>
  </div>
</section>
<section>
  <h2>Ateliers samedi</h2>
  <div class="cols-2">
    <% for (let conf of data.samedi.ateliers){ %>
    <%- include('conf', {conf:conf}) %>
    <% } %>
  </div>
</section>
