<section class="white">
  <h2 class="none start">Focus</h2>
  <div class="focus-pagetitle">Temps fort de cette édition :</div>
  <div class="focus-jour">Samedi en musique</div>
  <div class="focus-title">Concert de musique libre : KPTN</div>
  <div class="focus-time cispeo">17h → 18h</div>
  <div class="conf-room">Bâtiment D2 - Salle conf 4</div>
  <div class="focus-abstract">
    <p>
      Chanson française et musique avec des inspirations pop, jazz et blues et
      des textes qu'on ne retrouvera pas dans les manuels scolaires !
    </p>
  </div>
  <div class="focus-abstract">
    <p>
      KPTN est auteur/compositeur/interprète et distribue sa musique sous
      licence Art Libre (CC-BY-SA).
    </p>
    <p>
      Son premier album &#171; Flammes &#187;
      est disponible sur toutes les plateformes en ligne et en CD. De nouvelles
      chansons sont en préparation, vous pourrez en découvrir quelques unes
      lors de ce concert !
    </p>
  </div>
</section>
