<section class="white">
  <h2 class="none start">Activités</h2>
  <div class="focus-pagetitle">Bonne fête des (cartes) mères :</div>
  <div class="activite">
    <div class="activite-title">Install Party</div>
    <div class="conf-room">D8 Buisson</div>
    <div class="wifi">
      <div class="wifi-badge">
        <img src="images/illustrations/qr_install-party.svg"
          alt="vers inscription" width="80px">
      </div>
      <div class="wifi-texte">
        Aidé⋅e par des utilisateur·ices expérimenté⋅es, venez installer ou
        configurer un logiciel libre, ou passer entièrement votre ordinateur
        sur un système d'exploitation libre.
      </div>
    </div>
    <div class="activite-text">
      <ins>Inscription recommandée :</ins> https://jdll.org/install-party/
    </div>
  </div>
  <div class="activite">
    <div class="activite-title">Flash Party</div>
    <div class="conf-room">Dimanche uniquement - D8 Buisson</div>
    <div class="wifi">
      <div class="wifi-badge">
        <img src="images/illustrations/qr_flash-party.svg"
          alt="vers inscription" width="80px">
      </div>
      <div class="wifi-texte">
        Venez libérer votre téléphone en étant accompagné·e à l'installation de
        /e/OS.
      </div>
    </div>
    <div class="activite-text">
      <ins>Inscription obligatoire :</ins> https://jdll.org/flash-party/
    </div>
  </div>
</section>
