<section>
  <h2>Confs dimanche</h2>
  <div class="cols-2">
    <% for (let conf of data.dimanche.confs){ %>
    <%- include('conf', {conf:conf}) %>
    <% } %>
  </div>
</section>
<section>
  <h2>Ateliers dimanche</h2>
  <div class="cols-2">
    <% for (let conf of data.dimanche.ateliers){ %>
    <%- include('conf', {conf:conf}) %>
    <% } %>
  </div>
</section>
