<script type="text/javascript" src='/javascripts/bindery.min.js'></script>
<script>
    let version = ""
    let couverture = [1,2,26,27,51,52]
    
  let breakRule = Bindery.PageBreak({
        selector: 'section, .break',
        position: 'before',
    });

  let noBreakRule = Bindery.PageBreak({
    selector: '.conf, .stands, .nobreak',
    position: 'avoid',
  });

  let spreadRule = Bindery.FullBleedSpread({
    selector: '.big-figure',
  });

  let rainbowRule = Bindery.createRule({
    eachPage: (page, book)=>{
      if (couverture.includes(page.number)){
        page.background.style.background = "\
          linear-gradient(120deg,\
          #ea2959,\
          #43bd92)";
      }else{
        page.background.style.backgroundColor = "white";
      }
    }
  });

  let eventNameRule = Bindery.createRule({
    eachPage: (page, book)=>{
      if (couverture.includes(page.number)){
        return
      }

      let jdll = document.createElement("div");
      jdll.innerText = `#JdLL2024 ${version}`;
      let leftStyle = "\
        font-weight:900;\
        position:absolute;\
        left:0.3cm;\
        bottom:1.2cm;\
        writing-mode:vertical-lr;\
        transform:rotate(180deg)";
      let rightStyle = "\
        font-weight:900;\
        position:absolute;\
        right:0.3cm;\
        bottom:1.2cm;\
        writing-mode:vertical-lr;\
        transform:rotate(0deg)";

      if (page.isLeft){
        jdll.style=leftStyle;
      } else{
        jdll.style=rightStyle;
      }
      page.background.appendChild(jdll);
    }
  })

  let sectionNameRule = Bindery.createRule({
    eachPage: (page, book)=>{
      let nostart = page.element.getElementsByClassName("nostart");
      let start = page.element.getElementsByClassName("start");
      let elementClassListValue = page
                                  .element.
                                   getElementsByTagName("section")[0]
                                  .classList.value;
      isStartSession = elementClassListValue=="📖-continues" ||
                       elementClassListValue=="";
      if (start.length > 0) {
        return ""
      }
      if (isStartSession && nostart.length===0){
        return ""
      }
      let section = page.heading.h2;
      let container = document.createElement("div");
      let tag = document.createElement("div");
      tag.innerText = section;
      let leftTagStyle = "\
        color:white;\
        font-weight:900;\
        writing-mode:vertical-lr";
      let rightTagStyle = "\
        color:white;\
        font-weight:900;\
        writing-mode:vertical-lr";
      let leftContainerStyle = "\
        background-color:black;\
        position:absolute;\
        left:0;\
        top:0;\
        transform:rotate(180deg);\
        padding-bottom:1.2cm;\
        padding-top:3px;\
        padding-right:0.3cm";
      let rightContainerStyle = "\
        background-color:black;\
        position:absolute;\
        right:0;\
        top:0;\
        transform:rotate(0deg);\
        padding-top:1.2cm;\
        padding-bottom:3px;\
        padding-right:0.3cm";
      if (page.isLeft){
        tag.style=leftTagStyle;
        container.style=leftContainerStyle;
      } else{
        tag.style=rightTagStyle;
        container.style=rightContainerStyle;
      }
      container.appendChild(tag);
      page.background.appendChild(container);

    }
  })

  let running = Bindery.RunningHeader({
    render: (page) => {
      if (couverture.includes(page.number)){
        return ""
      }
      if (page.isLeft){
        return `${page.number}`
      } else{
        return `${page.number}`
      }
    }
  })

  const el = document.getElementById('content');

  Bindery.makeBook({
    content: el,
    rules: [
      breakRule,
      noBreakRule,
      spreadRule,
      eventNameRule,
      sectionNameRule,
      rainbowRule,
      running
    ],
    pageSetup: {
      size: {
        width: '105mm',
        height: '148mm'
      },
      margin: {
        top: '1.2cm',
        inner: '1.2cm',
        outer: '1.2cm',
        bottom: '0.6cm'
      },
    },
    printSetup: {
      layout: Bindery.Layout.PAGES,
      paper: Bindery.Paper.AUTO,
      marks: Bindery.Marks.NONE,
      bleed: '6pt',
    },
  });
</script>
