<div class="conf">
  <div class="conf-title">
    <%- conf.title %>
  </div>
  <div class="conf-speakers cispeo">
    <%= conf.speakers %>
  </div>
  <div class="conf-time cispeo">
    <% let start = new Date(conf.startTime) %>
    <% let end = new Date(start.getTime() + conf.duration*60000) %>
    <%= start.getHours() %>h<%= start.getMinutes()!=0?start.getMinutes():"" %>
    → <%= end.getHours() %>h<%= end.getMinutes()!=0?end.getMinutes():"" %>
  </div>
  <div class="conf-room syne">
    <%= conf.room %>
  </div>
  <div class="conf-abstract">
    <%- conf.abstract %>
  </div>
  <% if(conf.type!="Activité pour enfants"){ %>
  <div class="conf-tags cispeo">
    <div class="conf-level inline">
      <%= conf.beginner ? "Débutant·e":"Confirmé·e" %>
    </div>
    &nbsp;-&nbsp;
    <div class="conf-publics inline">
      <%= conf.publics %>
    </div>
  </div>
  <% } %>
</div>
