<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= data.event.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="content">
      <%- include('partials/10_couverture'); %>
      <%- include('partials/20_colophon'); %>
      <%- include('partials/30_edito'); %>
      <%- include('partials/40_plans', {data:data}); %>
      <%- include('partials/50_village', {data:data}); %>
      <%- include('partials/45_planD2', {data:data}); %>
      <%- include('partials/60_confsAteliersSamedi', {data:data}); %>
      <%- include('partials/80_activites'); %>
      <%- include('partials/70_focus'); %>
      <%- include('partials/90_confsAteliersDimanche', {data:data}); %>
      <%- include('partials/205_illustration'); %>
      <%- include('partials/100_gones', {data:data}); %>
      <%- include('partials/130_jdll'); %>
      <%- include('partials/160_financementparticipatif'); %>
      <%- include('partials/110_restauration.ejs'); %>
      <%- include('partials/135_pratique'); %>
      <%- include('partials/210_notes.ejs'); %>
      <%- include('partials/140_rejoinslorga') %>
      <%- include('partials/150_sponsors'); %>
    </div>
    <%- include('partials/999_scripts'); %>
  </body>
</html>
