@font-face {
  font-family: "AlegreyaSans";
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Cispeo";
  src: url("/fonts/Cispeo/Cispeo-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Syne";
  src: url("/fonts/Syne/Syne-Regular.woff2") format("woff2");
}

body {
  padding: 50px;
  font-size: 12px;
  font-family: AlegreyaSans, sans-serif;
}

a {
  color: #00b7ff;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

#metros {
  width: 40%;
}

#info {
  width: 59%;
}

.infos {
  margin-top: 22em;
}

#info > div {
  text-align: right;
}

.metro {
  margin-bottom: 0.25em;
}

sup {
  line-height: 0;
  font-size: 0.5em;
  vertical-align: super;
}

.alegreya {
  font-family: AlegreyaSans, sans-serif;
}

.cispeo {
  font-family: Cispeo, monospace;
}

.syne {
  font-family: Syne, serif;
}

.sponsor {
  position: relative;
  height: auto;
  display: inline-block;
}

.sp_logos {
  margin-top: 1.5em;
  clear: both;
  height: auto;
  display: block;
}

.sp_logo {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 1em 1em 0;
  background: white;
  border-radius: 50%;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.sp_logo img {
  width: 80%;
  grid-column: 1 / span end;
  align-self: center;
  margin: 0 auto;
}

.edito > p {
  font-size: 10px;
}
.focus-jour {
  display: block;
  font-size: 1.5em;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-decoration: underline;
}
.focus-title {
  font-weight: bold;
  text-decoration: underline;
}
.focus-time {
  font-size: 8pt;
}
.focus-abstract {
  font-size: 12px;
  line-height: 1em;
  padding-top: 0.3em;
  padding-bottom: 1.3em;
}

#colophon {
  margin-top: 25em;
  font-size: 8px;
  color: #fff;
}

.white {
  color: white;
}

.conf {
  margin-bottom: 1.25em;
  display: inline-block;
  width: 100%;
}

.background {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 13em;
}
.background > img {
  width: 100%;
  height: auto;
}
.foreground {
  position: relative;
  z-index: 2;
}
.foreground div {
  color: #fff;
}
.center {
  text-align: center;
}

#theme {
  font-size: 24pt;
  font-weight: 900;
  color: white;
  margin-top: 1em;
}

#titre {
  font-weight: bold;
  font-size: 16pt;
  margin-top: 1em;
}

#libre-gratuit {
  font-weight: normal;
  font-size: 12pt;
  margin-top: 1em;
  visibility: hidden;
}

#lieu {
  margin-top: 1em;
}
.close {
  margin-top: -2pt;
}

.plan {
  width: 100%;
  margin-bottom: 2em;
}

.pland2 {
  width: 120%;
  padding-top: 3em;
}

.plan-last {
  width: 100%;
  margin-bottom: 0.5em;
}

.gymnase {
  margin-bottom: 0;
  width: 65%;
}

.plan-title,
.activite-title,
.restauration-title {
  font-weight: bold;
  text-decoration: underline;
}

.activite-title,
h3 {
  margin-top: 3.5em;
}

.restauration-title,
h3 {
  margin-top: 1.5em;
}

.activite-title span,
h3 span {
  font-weight: normal;
  font-size: 6pt;
}

.activite-autre {
  margin-top: 0;
}

.cols-2 {
  column-count: 2;
  column-fill: balance;
}

.conf-title {
  font-weight: 900;
  font-size: 12pt;
  line-height: 1em;
}

.conf-speakers {
  font-size: 9pt;
  color: #ea2959;
}

.conf-time {
  font-size: 8pt;
}

.conf-room {
  color: #43bd92;
  font-size: 8pt;
  text-align: right;
  font-style: italic;
}

.white .conf-room {
  color: white;
}

.conf-abstract {
  font-size: 11pt;
  line-height: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.conf-abstract > p {
  margin-top: 0;
  margin-bottom: 0;
}

.conf-tags {
  font-size: 6pt;
}

h2,
.h2,
.h2b {
  display: block;
  font-size: 1.5em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-decoration: underline;
}

h2,
.h2 {
  margin-block-start: 0.83em;
}

.h2b {
  margin-block-start: 0.5em;
}

.inter_title {
  font-weight: 900;
  margin-bottom: 0.5em;
}

.focus-pagetitle {
  display: block;
  font-size: 1.5em;
  margin-top: -20px;
  margin-block-end: -0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #fff;
}

.pub {
  font-weight: 900;
  color: white;
  font-size: 22pt;
  text-align: center;
}

ol {
  margin-block-start: 0;
}

.more-bottom {
  margin-bottom: 3em;
}

.top-6 {
  margin-top: 6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stands {
  margin-bottom: 0.4em;
  display: inline-block;
  width: 100%;
}

.stand-badge {
  float: left;
  height: 20px;
  width: 22px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 13px;
  padding-top: 2px;
  margin-top: 2px;
  margin-right: 5px;
  background: black;
}

.stand-title {
  display: inline-end;
  font-weight: 900;
  font-size: 10pt;
  line-height: 1em;
}

.stand-abstract {
  line-height: 1em;
  display: block;
}

.stand-abstract > p {
  margin-top: 0;
  margin-bottom: 0;
}

.wifi {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  display: flex;
  width: 100%;
}

.wifi-badge {
  float: left;
  margin-right: 20px;
}

.wifi-texte {
  display: inline-block;
}
